#blog, #events, #page, #painting_comp {
  > .content {
    > h1:first-child, > h2:first-child {
      display: block;
      font-weight: $header-weight;
      font-family: $font-stack;
      font-size: 22px;
      text-align: center;
      padding: 5px;
      padding-bottom: 26px;
      color: $dark-grey;
      border-bottom: solid 1px #E7E7E7;
    }
  }
}