#blog, #events {
  > .content {
    > h1, > h2 {
      display: block;
      font-weight: $header-weight;
      font-family: $font-stack;
      font-size: 22px;
      text-align: center;
      padding: 5px;
      padding-bottom: 26px;
      color: $dark-grey;
    }
  }
}