#home {
  .content {
    .post-content {
      display: block;
      position: relative;
      width: 100%;
      height: 22vw;
      background-color: $dark-grey;
      margin: 15px 0;
      .post-image-container {
        display: inline-block;
        float: left;
        width: 60%;
        height: 22vw;
        overflow: hidden;
        .post-image {
          width: 100%;
          height: 100%;
          display: block;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .post-categories {
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        left: 0;
        bottom: 0;
        display: inline-block;
        li {
          a {
            display: block;
            padding: 5px 10px;
            color: $dark-grey;
            list-style: none;
            background-color: $yellow;
            // opacity: 0.8;
          }
        }
      }
      .post-details {
        display: inline-block;
        width: 40%;
        padding: 20px;
        position: relative;
        height: 100%;
        .post-title {
          background-color: $red;
          padding: 5px;
          padding-left: 20px;
          display: block;
          width: 120%;
          margin-left: -20px;
          h3 {
            color: $bg-color;
            font-family: $h1-stack;
            display: inline-block;
            max-height: 63px;
            overflow: hidden;
          }
        }
        .post-date {
          display: block;
          color: $bg-color;
          font-size: 12px;
          margin: 20px 0;
        }
        .post-excerpt {
          p {
            color: $bg-color;
          }
        }
        .post-read-more {
          display: block;
          position: absolute;
          width: 100%;
          padding: 0 20px;
          left: 0;
          bottom: 20px;
          a {
            display: block;
            width: 100%;
            height: 100%;
            background-color: $mid-grey;
            color: $bg-color;
            padding: 10px 30px;
            text-align: center;
            &:hover {
              background-color: lighten($red, 5%);
            }
          }
        }
      }
      &:hover {
        background-color: lighten($dark-grey, 5%);
        transition: all 0.5s ease;
        .post-image {
          -webkit-filter: brightness(105%);
          transform: scale(1.05);
          transition: all 0.5s ease;
        }
        .post-title {
          background-color: lighten($red, 5%);
          transition: all 0.5s ease;
        }
      }
    }
  }
}

// .splash-image-container {
//     position: fixed;
//     z-index: 100;
//     margin: 0;
//     padding: 0;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;

//     .splash-image {
//       width: 100%;
//       height: 100%;
//       background-image: url(../img/wallpaper-pics/wallpaper-3.jpg);
//       background-repeat: no-repeat;
//       background-size: cover;
//       cursor: pointer;
//     }

//     #nzhl-logo {
//       background-image: url(../img/hero-logo-b-copy3.png);
//       background-repeat: no-repeat;
//       background-size: contain;
//       background-position: center;
//       position: absolute;
//       width: 100vw;
//       height: 15vw;
//       top: 40%;
//       transform: translateY(-60%);
//     }

//     .splash-nav {
//       width: 100%;
//       position: absolute;
//       left: 0;
//       bottom: 0;
//       height: 60px;
//       background-color: black;
//     }
//   }

