/*
 * Footer
 */

footer.site-footer {
	// position: absolute;
	position: relative;
	bottom: 0;
	background: $bg-color;
	font-family: $font-stack;
	margin: 0 auto;
	float: none;

	padding: 0 50px 50px 50px;
	@include outer-container(1000px);
	@include media($large) {
	  padding: 0 1.5em;
	}

	.footer-container {
		width: 100%;
		margin: 0 auto;
		border-top: 1px solid $light-grey;
		padding-top: 20px;
		text-align: center;
	}

	p {
		font-size: $font-base-reduced;
		font-weight: 300;
		color: $text-color;
		line-height: 24px;
		margin: 0;
	}

	ul {
		padding: 0;
		list-style: none;
		margin: 0;

		li {
			display: inline-block;
			margin: 15px;
		}

		li a {
			margin: 0;
			font-size: $font-base;
			color: $text-color;

			&:hover {
				color: $link-color;
			}
		}
	}
}