.pagination {
  margin-top: 15px;
  text-align: center;
  .page-numbers:not(.dots) {
    margin: 0 2px;
    padding: 8px 13px 10px 13px;
    background-color: $mid-grey;
    color: #fff;
    font-size: 14px;
    &:hover, &.current {
      background-color: $red;
    }
  }
  .dots {
    font-size: 16px;
    margin: 0 2px;
  }
}