.post-content {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 0;
  width: 100%;
  height: auto;
  // margin: 15px 0;
  margin-bottom: 6px;
  // background-color: $bg-color;
  // padding: 10px;
  border-top: solid 1px $light-grey;
  padding-top: 5px;
  .post-heading {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    // background-color: $dark-grey;
    transition: all 0.3s ease;
    &:hover {
      background-color: lighten($box-color, 4%);
    }
    .post-title {
      // background-color: $dark-grey;
      display: block;
      width: 100%;
      // padding: 10px 20px;
      padding: 10px 0;
      h3 {
        // color: $bg-color;
        font-family: $h1-stack;
        display: inline;
        padding: 0;
        font-size: 28px;
        color: $text-color;
        transition: all 0.3s ease;
      }
      .post-author, .post-location {
        color: $mid-grey;
        font-size: 12px;
        margin-left: 10px;
        vertical-align: super;
        transition: all 0.3s ease;
      }
      .post-location {
        text-transform: uppercase;
      }
    }
    .post-date {
      display: block;
      // color: $bg-color;
      font-size: 14px;
      padding: 15px 0;
      // padding: 15px 20px;
      padding-top: 0;
      transition: all 0.3s ease;
      color: $mid-grey;
    }
    .post-categories, .post-type {
      position: absolute;
      list-style: none;
      padding: 0;
      margin: 0;
      right: 0;
      bottom: 19px;
      display: inline-block;
      li, span {
        display: inline-block;
        margin: 0 2px;
        line-height: 24px;
        &:last-child {
          margin-right: 0;
        }
        a {
          display: block;
          padding: 1px 10px;
          color: $dark-grey;
          list-style: none;
          background-color: $yellow;
          font-size: 12px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &:hover {
      .post-title, .post-title h3, .post-author, .post-location, .post-date {
        color: $link-color;
        text-decoration: none;
      }
    }
  }
  .post-image-container {
    display: block;
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    .post-image {
      width: 100%;
      height: 100%;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-transition: all 0.5s linear;
      transition: all 0.5s linear;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      &:hover {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
      }
    }
  }
  .post-details {
    display: block;
    width: 100%;
    // padding: 10px 20px;
    padding: 10px 0;
    padding-bottom: 20px;
    position: relative;
    height: auto;
    // background-color: $bg-color;
    // background-color: $light-grey;
    .post-excerpt {
      p {
        color: #000;
        margin-top: 0;
        margin-bottom: 5px;
        .more-link {
          color: $link-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}