/*
 * Sidebar
 */

 .sidebar {
 	float: right;

 	div, nav {
 		margin: 0 0 20px;
 	}

 	li, p {
 		font-size: $font-base;
 		margin: 0 0 5px;
 		line-height: 24px;
 		letter-spacing: $font-spacing;
 	}

 	h3 {
 		padding-bottom: 3px;
 		font-size: 22px;
 		font-weight: 100;
 		font-family: $h1-stack;
 		letter-spacing: $font-spacing;
 		color: $header-color;
 		border-bottom: 1px solid $accent-color;
 	}

 	.news-widget {
 		margin-top: 20px;

 		a {
 			display: inline-block;
 			font-size: 12px;
 			font-weight: 300;
 			font-family: $font-stack;
 			letter-spacing: $font-spacing;
 			color: $link-color;
 			text-decoration: none;
 		}
 	}

 	.yellow-box {

 		background-color: #F0F0F0;
 		height: 220px;
 		padding: 24px;

 		h3 {
 			border-bottom: 1px solid $accent-color;
 			padding-bottom: 9px;
 			margin-bottom: 13px;
 		}

 		p {
			margin-top: 0!important;
	 	}

 		a {
 			font-size: 22px;
 			font-weight: 100;
 			font-family: $h1-stack;
 			letter-spacing: $font-spacing;
 			color: $header-color;
 			text-decoration: none;

 			&:hover, &:active {
 				color: $link-color;
 			}
 		}

 		.fa-lg {
 			display: none;
 		}

 		h3:last-child {
 			display: none;
 		}
 	}
 }


 .home-sub-nav {
 	padding: 30px 20px 15px 20px;

 	ul {
 		font-family: $font-stack;
 		font-weight: 300;
 		font-size: em(23);
 		margin: 0 0 0 24px;

 		li {
 			margin-bottom:12px;
 			padding: 0 0 0 0;

 			.fa-li {
 				width: 1em;
 				left: -1.3em;
 				/*text-decoration: underline;*/
 			}

 			a { 
 				color: $text-color;
 				text-decoration: underline;
 				
 				&:hover {
 					color: $link-color;
 					//text-decoration: none;
 				}
 			}
 		}
 	}
 }

 // .contact {

 // 	h3 {
 // 		margin: 0 0 15px;
 // 		font-family: $h1-stack;
 // 		font-weight: 100;
 // 		font-size: 1.4375em;
 // 	}

 // 	i {
 // 		padding: 0 8px 0 0;
 // 		/*text-decoration: underline; */

 // 		&.fa-lg {
 // 			vertical-align: -3%;
 // 		}
 // 	}

 // 	a { 
 // 		font-size: em(22);
 // 		color: $text-color;
 // 		text-decoration: underline;
 // 		&:hover {
 // 			text-decoration: none;
 // 		}
 // 	}
 // }

 .side-content {

 	.cats {
 		margin: 0;
 		padding: 0;
 		list-style: none;
 	}

 	ul {

 		li {
 			margin-bottom:6px;
 		}

 		&.fa-ul {
 			margin-left: 15px;


 			.fa-li {
 				color: $link-color;
 				left: -1.7em;
 			}
 		}

 		&.tags {
 			list-style: none;
 			padding: 0;
 		}
 	}
 }

 @include media($med) {
 	#sidebar-frontpage {
 		.yellow-box {
 			display: none;
 		}
 	}
 }
 .widget_archive {
 	margin-bottom:20px;

 	p {
 		font-size: $font-base;
 		margin-bottom: 16px;
 		line-height: 1.4;
 	}

 	a {
 		&.more-link {
 			margin:0;
 		}
 	}
 	ul {
 		padding-left:0px !important;
 		list-style-type: none;

 		li {
 			margin-bottom: 3px;

 			a {
 			}
 		}
 	}
 }

 #sidebar-news h4.widget-title {
	font-size: 22px;
	font-family: $h1-stack;
	color: $header-color;
	font-weight: 100;
 	width: 100%;
	border-bottom: 1px solid $accent-color;
	padding-bottom: 3px;
	margin: 0 0 23px 0;
 }



// FEATURED GENERAL
.featured-widget {
	margin-bottom: 20px;


	@include media($med) {
		width: 100%;
		float: none;
		display: inline-block;


		&.widget-first {
			margin-right: 2%;
		}

		&:after {
			display: block;
			content: '';
			clear: both;
		}
	}

	@include media($xsmall) {
		width: 100%;
		float: none;

		&.widget-first {
			margin-right: 0;
		}
	}

}
.featured-widget h4 {
	display: none;
}
.featured-widget p {
	margin: 0;
	padding: 0;
	font-family: $font-stack;
	font-size: 17px;
	font-weight: 300;
	color: $text-color;
	margin: 0!important;
}

// FEATURED LINKS
.featured-widget a {
	text-decoration: none;
	font-size: 17px;
	font-weight: 300;
	color: $text-color;
	padding: 18px;
	height: 60px;
	width: 100%;
	background-color: #F0F0F0;
	display: block;
	
	@include media($large) {
		font-size: 0.8em;
	}
	@include media($med) {
		font-size: 1em;
	}
}

.featured-widget a:hover {
	color: $red;
}

.featured-widget a:after {
	content: '\f105';
	font-size: 30px;
	// content: url(../img/gt-symbol.png);
	display: inline-block;
	font-family: 'FontAwesome';

	// margin-left: 5px;
	position: relative;
	bottom: 1px;
	float: right;
}

.ethics-page-fellows-list p {
	margin : 0 0 10px 0;
	list-style-type : none;
}

.ethics-page-fellows-list ol {
	padding-left: 0;
}

.sidebar-ethics-page {
	padding-left: 30px;
    border-left: solid 1px #ddd;
    margin-bottom: 20px;
}


