html {
	position: relative;
	// z-index: -2;
	background-color: $bg-color;
	background-image: url(../img/middle-earth-map2.jpg);
}

body {
	position: relative;
	min-height: 100vh;
}

.wp-caption {
	max-width: 100%;
	> img {
		margin: 0;
	}
	> .wp-caption-text {
		font-size: $font-base-reduced;
		color: $mid-grey!important;
		margin-bottom: 0;
		text-align: center;
	}
}

.content-area {
	min-height: 446px;
	padding-bottom: 150px;
}

.full {
	padding-bottom: 150px;
}

a.btn {
	background: $box-color;
	color: $text-color;
	padding: 0.8em 1.5em;
	display: inline-block;
	text-decoration: none;
}
a.btn:hover, a.btn:active {
	text-decoration: none;
	color: $link-color;
}

.dis-b {
	display: block;
}