// Typography



body {
	font-size: $font-base;
	font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $h1-stack;
	font-weight: 100;
	letter-spacing: $font-spacing;
}

// Headings

h1, h2, h3, h4, h5, h6 {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: $font-stack;
	font-weight: 100;
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: $font-base; }
h5 { font-size: $font-base-reduced; }
h6 { font-size: $font-base-reduced; }

// Body text

p, li {
	font-family: $font-stack;
	font-size: $font-base;
	font-weight: $font-weight;
	color: $text-color;
	color: #000;
	line-height: $line-height;
	letter-spacing: $font-spacing;
}

p {
	margin: 10px 0 20px 0;
}

li {
	margin: 5px 0 10px 0;
	&:last-child {
		margin-bottom: 20px;
	}
}

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}

a {
	font-family: $font-stack;
	font-weight: 300;
	color: $link-color;
	letter-spacing: $font-spacing;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		outline: none;
	}
}

// Images

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

// Other text

.content p a {
	font-weight: 300;
}

blockquote {
	background-color: $light-grey;
  border-left: solid $red;
  font-style: italic;
  padding: 5px 20px 1px 20px;
  width: calc(100% - 40px);
}

table tr td {
	font-size: $font-base;
	font-weight: 300;
	color: $text-color;
	line-height: 24px;
	border: 1px solid black;

	@include media($small) {
		width: 100%;
	}
}

.clearboth {
	clear: both;
}



