/* Variables */

/* Colours */

$navy:      #18161e;
$blue:      #003f4f;
$mid-blue:    #386a7a;
$yellow:    #ddcf16;


$red:      #cd0d12;
// $red:      #E4003C;
// $red:      #9d0a0e;
$bg-color:  #f8f8f8;
$nav-color: #ebebe0;
$shadow: 0px 0px 70px #888;
$dark-grey: lighten(black, 20%);
$mid-grey:    lighten($dark-grey, 10%);
$light-grey:  #E7E7E7; //231,231,231
// $shadow: 0px 0px 40px #c0c0c0;

// Scaffolding

$body-bg: #fff;

$text-color:  $dark-grey;

$header-color:  $dark-grey;

$accent-color:  $mid-grey;

$box-color:   $light-grey;

$link-color:  $red;

/* Typography */

@font-face {
	font-family: helvetica-neue;
	src: url('../../fonts/webfonts/helvetica-neue.otf');
}

$font-stack: 'Noto Sans', Arial, sans-serif;
$h1-stack: 'Noto Serif', Arial, sans-serif;
$alt-font-stack: 'Noto Sans', Arial, sans-serif;

$font-base: 16px;
$font-base-reduced: 12px;
$font-header: 22px;
$font-spacing: normal;
$font-weight: 300;
$header-weight: 100;
$line-height: 24px;

/*
 * Media Queries
 */

 $large: new-breakpoint(max-width 1200px);
 $nav-break: new-breakpoint(max-width 1024px);
 $med: new-breakpoint(max-width 790px);
 $small: new-breakpoint(max-width 660px);
 $smaller: new-breakpoint(max-width 440px);
 $xsmall: new-breakpoint(max-width 365px);