
/*
 * Grid
 */

 .page-container {
  background-color: $bg-color;
  box-shadow: $shadow;
  padding: 30px 50px;
  // padding-top: 140px;
  // @include outer-container;
  @include outer-container(1000px);
  @include media($large) {
    padding: 0 1.5em;
 	}
 }

 .full {
 	@include span-columns(12);
 }

 .full .content {
 	width: 100%;
 }

 .content {
 	@include span-columns(8);
 	padding: 0 0 150px 0;
 	@include media($med) {
 		@include span-columns(12);
 		padding: 0;
 	}
 }

 .sidebar {
 	@include span-columns(4);
 	@include media($med) {
 		@include span-columns(12);
 		padding-bottom: 150px;
 	}
 }